# Node.js
    node_modules/
    npm-debug.log*
    yarn-error.log*

    # Build directories
    build/
    dist/

    # OS-specific
    .DS_Store
    Thumbs.db

    # IDE-specific
    .idea/
    .vscode/
    *.iml

    # Environment files
    .env
    .env.local
    .env.development.local
    .env.test.local
    .env.production.local

    # React Native
    .expo/
    *.jks
    *.p8
    *.p12
    *.key
    *.mobileprovision
    *.orig.*

    # Web-frontend
    /web-frontend/node_modules
    /web-frontend/build

    # Mobile-frontend
    /mobile-frontend/node_modules
    /mobile-frontend/.expo
